<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FileMapper">
    <insert id="insertFile" parameterType="FilePO" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ex_file values (#{id}, #{fileMd5}, #{fileName}, #{uploadStatus}, #{uploadUrl}, #{suffix}, #{chunkCount}, #{userId}, #{createTime}, #{updateTime}, #{expireTime})
    </insert>

    <sql id="selectAllProperties">
        select * from ex_file
    </sql>

    <sql id="updateProperties">
        update ex_file set uploadUrl=#{uploadUrl}, expireTime=#{expireTime}, updateTime=#{updateTime}
    </sql>

    <select id="selectFileByMD5" parameterType="String" resultType="FilePO">
        <include refid="selectAllProperties"></include>
        where fileMd5=#{md5}
    </select>

    <select id="selectFileById" parameterType="int" resultType="FilePO">
        <include refid="selectAllProperties"></include>
        where id=#{id}
    </select>

    <update id="updateFile">
        <include refid="updateProperties"></include>
        where id=#{id}
    </update>
</mapper>